<main>
  <h1>Ajoute un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit().subscribe()">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" />
      <span class="error"> {{ fErrors.name() }} </span>
    </label>
    <label>
      <span>Prix</span>
      <input type="number" formControlName="price" />
      <span class="error"> {{ fErrors.price() }} </span>
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
      <span class="error"> {{ fErrors.qty() }} </span>
    </label>
    <div class="error">
      @if (errorMsg) {
        <span>Erreur : {{ errorMsg }}</span>
      }
    </div>
    <div class="buttons">
      <button class="primary" [disabled]="isAdding || f.invalid || f.pending">
        <fa-icon
          [icon]="isAdding ? faCircleNotch : faPlus"
          [spin]="isAdding"
        ></fa-icon>
        <span>Ajouter</span>
      </button>
    </div>
  </form>
  {{ f.value | json }}
  {{ f.controls.name.errors | json }}
</main>
