<main>
  <h1>Ajoute un article</h1>
  <form [formGroup]="f">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" />
      <span class="error">
        {{ fErrors.name() }}
      </span>
    </label>
    <label>
      <span>Prix</span>
      <input type="number" formControlName="price" />
      <span class="error">
        {{ fErrors.price() }}
      </span>
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
      <span class="error">
        {{ fErrors.qty() }}
      </span>
    </label>
    <div class="error">
      @if (errorMsg !== '') {
      <span>Erreur : {{ errorMsg }}</span>
      }
    </div>
    <div class="buttons">
      <gst-async-btn
        [icon]="faPlus"
        [disabled]="f.invalid || f.pending"
        (setError)="errorMsg = $event"
        primary
        [action]="submit()"
      >
        <span>Ajouter</span>
      </gst-async-btn>
    </div>
  </form>
</main>
