<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <p>Total articles : {{ getTotalArticles() }}</p>

    <nav>
      <app-async-btn
        label="Rafraîchir"
        [action]="refresh()"
        [icon]="faRotateRight"
        (setError)="setError($event)"
      />
      <a routerLink="create" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <app-async-btn
        label="Supprimer"
        [action]="remove()"
        [icon]="faTrashAlt"
        (setError)="setError($event)"
        [hidden]="selectedArticles.size === 0"
      />
    </nav>
    <div class="error">
      @if (errorMsg !== '') {
      <span>Erreur: {{ errorMsg }}</span>
      }
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        @defer (when articleService.articles() !== undefined) { @for (a of
        articleService.articles(); track a.id) {
        <tr [class.selected]="selectedArticles.has(a)" (click)="select(a)">
          <td class="name">{{ a.name }}</td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
        } } @placeholder {
        <tr>
          @if (articleService.errorMsg === '') {
          <td colspan="3">Loading...</td>
          } @else {
          <td colspan="3">
            <strong> Erreur: {{ articleService.errorMsg }} </strong>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
