<main>
  <h1>Mentions Légales</h1>
  <p>Voici l'heure en temps réel: <app-clock /></p>
  <p>Use widgets library: <lib-widgets /></p>
  <p>
    Attention la base de données ne peut pas contenir trop d'articles. Donc, si
    il y a déjà plus de 5 articles, alors il ne vaut mieux plus en rajouter.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quidem
    culpa illo quaerat neque quas accusantium atque optio facere delectus
    deleniti officia placeat reprehenderit id inventore dicta dolorum, quo sint!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt odio
    laborum voluptatum ea veritatis doloribus nam, facilis ducimus iste maxime
    ut molestias, ipsum quae! Nobis aperiam possimus, ex accusantium cupiditate
    ut magni. Labore cumque ipsam voluptatibus ullam totam ut recusandae
    reiciendis, autem dolorum? Eligendi expedita corporis nesciunt est enim
    illum quibusdam molestiae consequuntur. Dolorum, asperiores alias, ipsam
    quas quo quisquam excepturi molestias totam amet voluptatem sunt ipsum
    numquam nemo similique assumenda accusantium velit hic repellendus minus.
    Omnis, quod iste.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quidem
    culpa illo quaerat neque quas accusantium atque optio facere delectus
    deleniti officia placeat reprehenderit id inventore dicta dolorum, quo sint!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt odio
    laborum voluptatum ea veritatis doloribus nam, facilis ducimus iste maxime
    ut molestias, ipsum quae! Nobis aperiam possimus, ex accusantium cupiditate
    ut magni. Labore cumque ipsam voluptatibus ullam totam ut recusandae
    reiciendis, autem dolorum? Eligendi expedita corporis nesciunt est enim
    illum quibusdam molestiae consequuntur. Dolorum, asperiores alias, ipsam
    quas quo quisquam excepturi molestias totam amet voluptatem sunt ipsum
    numquam nemo similique assumenda accusantium velit hic repellendus minus.
    Omnis, quod iste.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quidem
    culpa illo quaerat neque quas accusantium atque optio facere delectus
    deleniti officia placeat reprehenderit id inventore dicta dolorum, quo sint!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt odio
    laborum voluptatum ea veritatis doloribus nam, facilis ducimus iste maxime
    ut molestias, ipsum quae! Nobis aperiam possimus, ex accusantium cupiditate
    ut magni. Labore cumque ipsam voluptatibus ullam totam ut recusandae
    reiciendis, autem dolorum? Eligendi expedita corporis nesciunt est enim
    illum quibusdam molestiae consequuntur. Dolorum, asperiores alias, ipsam
    quas quo quisquam excepturi molestias totam amet voluptatem sunt ipsum
    numquam nemo similique assumenda accusantium velit hic repellendus minus.
    Omnis, quod iste.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quidem
    culpa illo quaerat neque quas accusantium atque optio facere delectus
    deleniti officia placeat reprehenderit id inventore dicta dolorum, quo sint!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt odio
    laborum voluptatum ea veritatis doloribus nam, facilis ducimus iste maxime
    ut molestias, ipsum quae! Nobis aperiam possimus, ex accusantium cupiditate
    ut magni. Labore cumque ipsam voluptatibus ullam totam ut recusandae
    reiciendis, autem dolorum? Eligendi expedita corporis nesciunt est enim
    illum quibusdam molestiae consequuntur. Dolorum, asperiores alias, ipsam
    quas quo quisquam excepturi molestias totam amet voluptatem sunt ipsum
    numquam nemo similique assumenda accusantium velit hic repellendus minus.
    Omnis, quod iste.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quidem
    culpa illo quaerat neque quas accusantium atque optio facere delectus
    deleniti officia placeat reprehenderit id inventore dicta dolorum, quo sint!
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt odio
    laborum voluptatum ea veritatis doloribus nam, facilis ducimus iste maxime
    ut molestias, ipsum quae! Nobis aperiam possimus, ex accusantium cupiditate
    ut magni. Labore cumque ipsam voluptatibus ullam totam ut recusandae
    reiciendis, autem dolorum? Eligendi expedita corporis nesciunt est enim
    illum quibusdam molestiae consequuntur. Dolorum, asperiores alias, ipsam
    quas quo quisquam excepturi molestias totam amet voluptatem sunt ipsum
    numquam nemo similique assumenda accusantium velit hic repellendus minus.
    Omnis, quod iste.
  </p>
</main>
